<html lang="en">

  <head>
    <title>Distributed Workers</title>
    <link href="static/icon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript"> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
    <script type="text/javascript">
      setInterval(                               //Periodically 
        function()
        {
           $.getJSON(                            //Get some values from the server
              $SCRIPT_ROOT + '/_return_bPool',      // At this URL
              {},                                // With no extra parameters
              function(data)                     // And when you get a response
              {
                $("#bpool").text(data.result);  // Write the results into the #result element
              });

           $.getJSON(                            //Get some values from the server
              $SCRIPT_ROOT + '/_return_bPro',      // At this URL
              {},                                // With no extra parameters
              function(data)                     // And when you get a response
              {
                $("#bpro").text(data.result);  // Write the results into the #result element
              });

           $.getJSON(                            //Get some values from the server
              $SCRIPT_ROOT + '/_return_wPool',      // At this URL
              {},                                // With no extra parameters
              function(data)                     // And when you get a response
              {
                $("#wpool").text(data.result);  // Write the results into the #result element
              });

           $.getJSON(                            //Get some values from the server
              $SCRIPT_ROOT + '/_return_fProg',      // At this URL
              {},                                // With no extra parameters
              function(data)                     // And when you get a response
              {
                $("#progressBar").css("width", data.result + '%');// Write the results into the #result element
              });

           $.getJSON(                            //Get some values from the server
              $SCRIPT_ROOT + '/_return_fCread',      // At this URL
              {},                                // With no extra parameters
              function(data)                     // And when you get a response
              {
                if(data.result) $("#barWrap").show();
                else $("#barWrap").hide();
              });
        },
        500);
    </script>
  </head>

  <body>

    <div class="container">

      <div class="cont2">

        <div class = "headCont">
          <div class="header">
            Distributed Workers
          </div>

          <div class="aDesc">
          CS2041 - Telecommunications II - Assignment 3
          </div>

          <div class="authors">
            Aaron Joyce &nbsp; ♦ &nbsp; Ciaran Finn &nbsp; ♦ &nbsp; Peter Meehan
            <!-- ALPHABETICAL BY FIRST NAME, FEEL FREE TO SWITCH TO SURNAME -->
          </div>
        </div>

        <div class="info">

          <div id="leftcolumn">
            <img src="static/coordinator.png" style="width:150px;height:150px">
            <p>Blocks to be processed: <span id="bpool">?</span></p>
            <p>Blocks processed: <span id="bpro">?</span></p>
          </div>

          <div id="rightcolumn">
            <img src="static/worker.png" style="width:150px;height:150px">
            <p>Workers connected: <span id="wpool">?</span></p>
          </div>
          <div class="clear"></div>
        </div>

        <div id="barWrap" class="loadWrap">
          Progress loading file:
          <div class="meter">
            <span id="progressBar" style="width: 1%"></span>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>